<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My portfolio</h1>
    <p class="lead text-muted">it's a portfolio that's mine</p>
    <p>
      <%= link_to "hey look it's me", about_me_path, class: 'btn btn-primary' %>
      <%= link_to "ブログ", blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>