<h1>:^)</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "a really small chaika.jpg", width: 300, alt: "Profile Image"%>
  </div>
  
  <div class="col-md-8">
    <p> hey there i like cute anime girls and papa john's </p>
    <p>どうぞよろしくお願いします</p>
  </div>
</div>

