<div class="inner cover">
  <h1 class="cover-heading">ay yo tony whered you get that fresh pepperoni</h1>
  <p class="lead">How Can Mirrors Be Real If Our Eyes Aren't Real</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>